/*_____GOOGLE FONTS_____*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/*_____VARIABLES CSS_____*/
:root {
  --header-height: 3.5rem;

  --hue: 162;
  --first-color: hsl(var(--hue), 100%, 40%);
  --first-color-alt: hsl(var(--hue), 56%, 35%);
  --title-color: hsl(224, 64%, 56%);
  --text-color: hsl(228, 8%, 65%);
  --body-color: hsl(228, 15%, 20%);
  --container-color: hsl(228, 15%, 15%);

  /*_____Font and typography_____*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

  /*_____Font weight_____*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*_____z-index_____*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*_____Responsive typography_____*/
@media screen and (min-width: 1152px) {
  :root {
    --biggest-font-size: 4rem;
    --bigger-font-size: 2rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*_____BASE_____*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

input,
textarea,
button,
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

input,
textarea,
button {
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

/*_____REUSABLE CSS CLASSES_____*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 2rem;
}

.section__title,
.section__subtitle {
  text-align: center;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.section__title {
  font-size: var(--h1-font-size);
  margin-bottom: 1.5rem;
}

.section__subtitle {
  font-size: var(--small-font-size);
  margin-bottom: 0.25rem;
}

.section__subtitle span {
  color: var(--first-color);
}

.main {
  overflow: hidden; /*For animation ScrollReveal*/
}

/*_____HEADER & NAV_____*/

/*_____Navigation for mobile devices_____*/

/*_____Show menu_____*/

/*_____Add blur to header_____*/

/*_____Active link_____*/

/*_____HOME_____*/

/*_____BUTTON_____*/

/*_____ABOUT_____*/

/*_____SKILLS_____*/

/*_____SERVICES_____*/

/*_____PROJECTS_____*/

/*_____CONTACT_____*/

/*_____FOOTER_____*/

/*_____SCROLL BAR_____*/

/*_____SCROLL UP_____*/

/*_____Show Scroll Up_____*/

/*_____BREAKPOINTS_____*/

/*_____For small devices_____*/

/*_____For medium devices_____*/

/*_____For large devices_____*/
